body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    width: 1920px; /* 1920 for 1080p */
    height: 1080px;
    position: relative;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
